  <div class="panel panel-info">
    <div class="panel-heading">
    	<%= link_to edit_task_path(task) do %>
    		Created <%= time_ago_in_words(task.created_at) %> ago
    	<% end %>
        <%= link_to "<i class='fa fa-trash'></i>".html_safe, task, method: :delete, data: { confirm: 'Are you sure you want to delete this item?'}, class: 'pull-right' %>
        </div>
    <div class="panel-body"><%= task.content %></div>
    <div class="panel-footer text-center">
    	<% if task.state == 'doing' %>
    	<!-- link left for :todo -->
    	<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put %> | 
    	<!-- link right for :done -->
    	<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put %>
    	<% elsif task.state == 'done' %>
    	<!-- link left for :doing -->
        	<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put %>  	
        <% else %>
        <!-- link right for :doing for todo list -->
        <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put %><br />
        <% end %>
    </div>
  </div>